html,
body {
  min-height: 100%;
}
body {
  background: linear-gradient(#737ce1, #c6cdfb);
  font-family: "Comfortaa", cursive;
  color: white;
}
.container {
  max-width: 800px;
  padding-top: 30px;
}
#searchForm {
  border: 1px solid #596aca;
  color: gray;
  border-radius: 10px;
  height: 37px;
  width: 230px;
  font-size: smaller;
  text-align: left;
  padding-left: 10px;
}

/* label {
  color: white;
  font-size: 20px;
} */
#searchButton {
  background-color: white;
  color: gray;
  font-size: smaller;
  text-align: center;
  margin-left: 10px;
  padding: 7px 40px;
  border-radius: 10px;
  border: none;
  transition: 180ms ease-in-out;
}
#searchButton:hover {
  background-color: #6167dc;
  color: white;
}

#background-image {
  width: 350px;
  height: 330px;
  line-height: 1;
  /* position: relative;
  left: 430px;
  top: -580px; */
  transform: rotateY(180deg);
}

section.currentWheather {
  /* position: relative;
  top: -270px; */

  width: 100%;
  padding-top: 40px;
}

h1 {
  display: inline;
  font-size: 50px;
  text-transform: capitalize;
}
#icon {
  width: 60px;
  vertical-align: bottom;
}
.currentDay {
  padding-top: 40px;
}
.currentDate {
  padding-top: 0px;
  font-size: 25px;
}

ul.currentTemp {
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}
li.temp {
  line-height: 1;
  padding-top: 10px;
}

#conditions:first-letter {
  text-transform: capitalize;
}

span#temperature {
  font-size: 90px;
}
.celsius {
  font-size: 25px;
}
div.description {
  font-size: 18px;
  line-height: 28px;
  padding-top: 10px;
}

a {
  color: white;
}

ul {
  list-style: none;
  text-align: center;
}
#forecast {
  margin-top: 50px;
}
div.row {
  text-align: center;
}
div.col {
  padding-top: 0px;
}

/* .forecast {
  position: relative;
  top: -280px;
} */
.card {
  background-color: #6167dc;
  opacity: 0.7;
  margin-top: 0px;
  color: white;
}
ul.forecast {
  padding: 0px;
  font-size: 18px;
}

.icon-forecast {
  width: 55px;
}

.signature {
  color: white;
  margin-top: 20px;
  font-size: 15px;
}

#temperature,
#wind,
#humidity {
  color: #ec6642;
  font-weight: bold;
}

.temperature-min {
  font-size: 15px;
}
