body {
  background: linear-gradient(#5f6ef2, #adb4fa, #95bef4);
  font-family: "Comfortaa", cursive;
}
.container {
  max-width: 830px;
  margin: auto;
  padding: 30px;
}
input {
  border: 1px solid #596aca;
  color: gray;
  border-radius: 10px;
  height: 35px;
  width: 230px;
  font-size: smaller;
  text-align: center;
  padding-left: 10px;
}

label {
  color: white;
  font-size: 20px;
}
#buttonCurrentLoc {
  background-color: white;
  color: gray;
  font-size: smaller;
  text-align: center;
  margin-top: 10px;
  padding: 7px 58px;
  border-radius: 10px;
  border: none;
  transition: 180ms ease-in-out;
}
#buttonCurrentLoc:hover {
  background-color: #8e95e1;
  color: white;
}

img {
  width: 350px;
  position: relative;
  left: 370px;
  top: -80px;
  opacity: 0.08;
}

section.currentWheather {
  position: relative;
  top: -320px;
  color: white;
  width: 100%;
  padding-top: 20px;
}

.col-8 {
  text-align: left;
}
h1 {
  display: inline;
  font-size: 65px;
  text-transform: capitalize;
}
i.fa-regular.fa-sun {
  font-size: 70px;
  padding-left: 15px;
}
.currentDate {
  padding-top: 0px;
  font-size: 25px;
}

ul.currentTemp {
  padding-left: 0px;
  padding-top: 0px;
  text-align: left;
}
.blockTemp {
  line-height: 1;
}

span#temperature {
  font-size: 120px;
}
.celsius,
.fahren {
  font-size: 25px;
}
div.description {
  font-size: 18px;
  line-height: 28px;
  padding-top: 15px;
}

a {
  color: white;
}

ul {
  list-style: none;
  text-align: center;
}

div.row {
  text-align: center;
}
div.col {
  padding-top: 50px;
}

.forecast {
  position: relative;
  top: -320px;
}
.card {
  background-color: #5f6ef2;
  opacity: 0.7;
  margin-top: 0px;
  color: white;
}
ul.forecast1day,
.forecast2day,
.forecast3day,
.forecast4day,
.forecast5day {
  padding: 0px;
}

.temperature1,
.temperature2,
.temperature3,
.temperature4,
.temperature5 {
  font-size: 25px;
}
.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  font-size: 25px;
}

.signature {
  color: white;
  margin-top: 20px;
  font-size: 15px;
}
